{% extends "base.html" %}
{% block content %}
<a href="{{ url_for('create') }}" class="btn">+ Novo Circo</a>
<table>
  <tr><th>Nome</th><th>Contato</th><th>Ações</th></tr>
  {% for c in circos %}
    <tr>
      <td>{{ c.nome }}</td>
      <td>{{ c.contato_responsavel }}</td>
      <td>
        <a href="{{ url_for('update', id=c.id_circo) }}">Editar</a> |
        <a href="{{ url_for('delete', id=c.id_circo) }}" onclick="return confirm('Confirmar exclusão?')">Excluir</a>
      </td>
    </tr>
  {% endfor %}
</table>
{% endblock %}
